<div class="imgcontainer">
    <img src="img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input [(ngModel)]="user.username" type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input [(ngModel)]="user.password" type="password" placeholder="Enter Password" name="psw" required>

    <button class="submit-button" (click)="LoginButtonClicked()">Login</button>
      <span class="psw">
        <input class="remember-me float-start" type="checkbox" checked="checked" name="remember"> Remember me
        <!-- <button class="forgot-password float-end">Forgot <a href="#">password?</a></button> -->
      </span>
  </div>

